body{
    font-size: 14px;

}
.search-container{
    display: flex;
    justify-content: space-between;
}
.input-box{
    display: flex;
    width: 375px;
    box-shadow: 1px 1px 9px -7px #000000;
    border-radius: 5px;
    padding: 12px 20px; 
    background-color: var(--block);
}
.perso{
    border: none;
    width: 300px;
    margin-left: 10px;
    background-color: var(--block);
    color: var(--text);
}
input:focus{
    outline: none;  
}
.search{
    cursor: pointer;
}
.filter-box{
    padding: 5px;
}
.filter{
    box-shadow: 1px 1px 9px -7px #000000;
    border-radius: 5px;
    padding: 12px 20px;
    border: none;
    background-color: var(--block);
    color:var(--text);
}
.filter option{
    background-color: var(--block);
}
.pays-info{
    background-color: var(--block);
}
/********************************* container pays ********************************************   */

.container-pays{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    grid-gap: 60px;  
}
.pays-card{
    max-width: 300px; 
    border-radius: 8px; 
    background-color: var(--block);  
}
.block-pays{
     box-shadow: 1px 1px 8px -7px #000000;
     border-radius: 5px;
} 
.drapeau-block{
    height: 150px;
    box-sizing: border-box;
}
.drapeau{
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.nom-pays{
    display: flex;
    justify-content: center;
    padding: 10px;
}
h2{
    font-weight: bold;
}
.info-details{
    padding: 20px;
}
.info{
    font-weight: 550;
}

.pagination{
    display: flex;
    justify-content: center;
}

@media screen and (max-width:700px) {
    .search-container{
        flex-direction:column;
        
    }
    .back{
        padding-bottom: 50px;
    }
    .filter-box{
        margin-top: 30px;
    }
}
@media screen and (max-width:500px) {
    .container-pays{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .pays-card{
        width: 350px;
    }
    .drapeau-block{
        height: 280px;
    }
}