<div>
    <div class="box tete">
        <nav class="ma-nav container">
          <div class="titre">
            <h1>Where in the world </h1>
          </div>
          <div *ngIf="!dark" style="cursor: pointer;" (click)="darkMode()"  class="the-mode"> <span><i class="fas fa-moon"></i></span> dark mode</div>
          <div *ngIf="dark" style="cursor: pointer;" (click)="lightMode()"  class="the-mode"> <span><i class="fas fa-moon"></i></span> light mode</div>
        </nav>
    </div>
    <div class="container">
      <router-outlet></router-outlet>
    </div>
</div>  




