/* You can add global styles to this file, and also import other style files */
:root{
    --bg:hsl(0, 0%, 98%);  /*  hsl(207, 26%, 17%) */

    --text:hsl(200, 15%, 8%);  /*  hsl(0, 0%, 100%) */
    
    --block:hsl(0, 0%, 100%) ; /*  hsl(209, 23%, 22%) */  
}

body{
    background-color: var(--bg);
    color: var(--text);
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}
